*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url(http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/njPhhkca.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Patua One', cursive;
}

h2 {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #ffffff;
  font-size: 80px;
}
h2 {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #ffffff;
  font-size: 40px;
}
p {
  font-size: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

h3 {
  color: #efefef;
}

#start-screen {
  background-image: url(http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/njPhhkca.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height:100vh;
  width: 100vw;
  z-index: 1;
  text-align: center;
}

#gameover-screen {
  background-image: url(http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/njPhhkca.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height:100vh;
  width: 100vw;
  z-index: 1;
  text-align: center;
}

#win-screen {
  background-image: url(http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/njPhhkca.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height:100vh;
  width: 100vw;
  z-index: 1;
  text-align: center;
}

#playable {
  margin: auto 0px;
  position: absolute;
  height: 400px;
  width: 400px;

}

.monster {
  height: 100px;
  width: auto;
  border-spacing: 0;
  margin: 0px auto;
  padding: 80px 80px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(http://2.bp.blogspot.com/-KeQGwHib3lQ/UD_fipguVQI/AAAAAAAAIgQ/JMv8lC9c2dE/s400/Diablo-june.gif);
  /*
  alternative images for mmonsters:
  background-image: url(http://static2.wikia.nocookie.net/__cb20120511203044/wowwiki/images/0/0c/Undead_male250x.gif);
  background-image: url(http://static1.wikia.nocookie.net/__cb20120511203559/wowwiki/images/c/cb/Tauren_male250x.gif);
  background-image: url(http://1.bp.blogspot.com/-8M90fwcTLUg/VWPbPlV7DpI/AAAAAAAAQfc/aOj3fbgO_-c/s1600/anim_wow_109.gif);
  */
}

.tg  {
  border-collapse: collapse;
  border-spacing:0;
  margin:0px auto;
  position: absolute;
}

.grid:hover{
    cursor:pointer;
    background-color: rgba(256,256,256,0.3);
}
.highlight:hover{
    cursor:pointer;
    background-color: rgba(256,0,0,0.4);
}

.tg td {
  padding:10px 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  overflow: hidden;
  height: 70px;
  width: 70px;
}
.tg th {
  padding:10px 10px;
  border-style: solid;
  border-color: white;
  border-width:1px;
  overflow:hidden;
  height: 70px;
  width: 70px;
}

.tg .grid{
  vertical-align:bottom;
}


.highlight {
  background-color: rgba(256,0,0,0.7);
}

@media screen and (max-width: 767px) {
  .tg {width: auto !important;}
.tg col {width: auto !important;}
.tg-wrap {overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: auto 0px;
  position: absolute;}
}

.jewel {
  height: 50px;
  width: 50px;
  position: center;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  border-color: red;
  border-style: solid;
}
.red{
  background-image: url("./icon-orange.png");
  height: 50px;
  width: 50px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.green{
  background-image: url("./icon-green.png");
  height: 50px;
  width: 50px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.blue{
  background-image: url("./icon-blue.png");
  height: 50px;
  width: 50px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.yellow {
  background-image: url("./yellow-TOPJEWEL.png");
  height: 50px;
  width: 50px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}



.button {
  height: 50px;
  width: 50px;
  /*background-color: red;*/
  position: center;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  border-color: red;
  border-style: solid;
}
#start {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/11/42/audio-158489_640.png");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
#reset {
  opacity: 0.5;
  background-image: url("http://4vector.com/i/free-vector-stop-audio-button-set-clip-art_104739_Stop_Audio_Button_Set_clip_art_hight.png");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
#reset:hover {
  opacity: 1.0;
}
#pause {
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/11576/akiross-Audio-Button-Set-1.png");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

#audio {
  position: relative;
  window.position: bottom;
}
