*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url(http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/njPhhkca.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-family: sans-serif;
  color: #ffffff;
}
p {
  font-family: sans-serif;
  color: #ffffff;
}

#playable {
  margin: auto 0px;
  position: absolute;
  height: 400px;
  width: 400px;

}

.monster {
  height: 100px;
  width: auto;
  border-spacing: 0;
  margin: 0px auto;
  padding: 80px 80px;
  position: absolute;
  background-image: url(http://2.bp.blogspot.com/-KeQGwHib3lQ/UD_fipguVQI/AAAAAAAAIgQ/JMv8lC9c2dE/s400/Diablo-june.gif);
  /*
  alternative images for mmonsters:
  background-image: url(http://static2.wikia.nocookie.net/__cb20120511203044/wowwiki/images/0/0c/Undead_male250x.gif);
  background-image: url(http://static1.wikia.nocookie.net/__cb20120511203559/wowwiki/images/c/cb/Tauren_male250x.gif);
  background-image: url(http://1.bp.blogspot.com/-8M90fwcTLUg/VWPbPlV7DpI/AAAAAAAAQfc/aOj3fbgO_-c/s1600/anim_wow_109.gif);
  */
}

.tg  {
  border-collapse: collapse;
  border-spacing:0;
  margin:0px auto;
  position: absolute;
}

.grid:hover{
    cursor:pointer;
    background-color: rgba(256,256,256,0.3);
}
.highlight:hover{
    cursor:pointer;
    background-color: rgba(256,0,0,0.3);
}

.tg td {
  /*font-family:Arial, sans-serif;
  font-size:14px;
  padding:0px 0px;*/
  padding:10px 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  overflow: hidden;
  /*word-break:normal;*/
  height: 60px;
  width: 60px;
}
.tg th {
  /*font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;*/
  padding:10px 10px;
  border-style: solid;
  border-color: white;
  border-width:1px;
  overflow:hidden;
  /*word-break:normal;*/
  height: 60px;
  width: 60px;
}

.tg .grid{vertical-align:bottom;}


.highlight {
  background-color: red;
}

@media screen and (max-width: 767px) {
  .tg {width: auto !important;}
.tg col {width: auto !important;}
.tg-wrap {overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: auto 0px;
  position: absolute;}
}

.jewel {
  height: 40px;
  width: 40px;
  /*background-color: red;*/
  position: center;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border-color: red;
  border-style: solid;
}
.red{
  background-image: url("./icon-orange.png");
  height: 40px;
  width: 40px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.green{
  background-image: url("./icon-green.png");
  height: 40px;
  width: 40px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.blue{
  background-image: url("./icon-blue.png");
  height: 40px;
  width: 40px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hourglassplay {
  background-image: url("./Hourglass-01.png");
  height: 40px;
  width: 40px;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

h3 {
  font-family: cursive;
  color: #afafaf;
}

.button {
  height: 40px;
  width: 40px;
  /*background-color: red;*/
  position: center;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border-color: red;
  border-style: solid;
}
.start {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/11/42/audio-158489_640.png");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.reset {
  background-image: url("http://4vector.com/i/free-vector-stop-audio-button-set-clip-art_104739_Stop_Audio_Button_Set_clip_art_hight.png");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.pause {
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/11576/akiross-Audio-Button-Set-1.png");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*
older CSS
*/

/*
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width:100px;
}


.minContainer {
    padding: 20px;
    padding-right: 30px;
    position: absolute;
}

table {
    border-collapse:collapse;
    table-layout: fixed;
    border-spacing: 0;
}
.td {
    border: 2px solid #cccccc;
    font-size:20px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#ccc;
    line-height: 1.428571429;
    width: 30px;
    height: 32px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    text-align: center;
}

.X{
    background-color: #FF8362;
}

.O{
    background-color: #BB7365;
}
*/
